@charset 'utf-8';
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

body {
  background-color: #fafafa;
  text-align: center;
  font-size: 17px;
}

h1 {
  font-family: 'Nunito', sans-serif;
  font-size: 2.4em;
  letter-spacing: -1px;
  color: #333;
}

h1 span {
  font-weight: 700;
}

a, a:hover, a:active, a:visited {
  color: #333;
  text-decoration: none;
}

#btn {
  border: 1px #bbb solid;
  border-radius: 0;
  padding: 4px 8px;
}

#btn:hover {
  background-color: #f8f8f8;
}

#search {
  border: 1px #bbb solid;
  border-radius: 0;
  padding: 2px;
}

#form {
  margin: 0.5em;
}

#list-container {
  margin: 2em;
  padding: 1.5em;
}

ul {
  padding: 0;
  list-style-type: none;
  border: 1px #bbb solid;
}

ul li {
  padding: 0.4em 2em;
  background-color: #fff;
}
